
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a href="index.html">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>

                    <li>
                        <a href={{ path('admin.tour.index') }}>
                            <i class="material-icons">layers</i>
                            <span>Tour</span>
                        </a>
                    </li>

                    <li>
                        <a href={{ path('admin.tournament.index') }}>
                            <i class="material-icons">layers</i>
                            <span>Tournament</span>
                        </a>
                    </li>


                </ul>
            </div>
            <!-- #Menu -->